# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.whl

# ===============================
# Virtual Environment
# ===============================
venv/
.env/
.venv/

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code / IDE
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# Data Files (DO NOT PUSH)
# ===============================
data/
*.csv
*.xlsx
*.json

# ===============================
# Model Files 
# ===============================
# Ignore everything inside models
models/*
# But keep saved models
!models/saved_models/
!models/saved_models/*.pkl

# ===============================
# Build / Cache
# ===============================
dist/
build/
.cache/
pytest_cache/
.mypy_cache/

# ===============================
# Docker
# ===============================
*.tar
