services:
  api:
    build:
      context: ..
      dockerfile: docker/dockerfile
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    volumes:
      - ../models:/app/models:ro
      - ../logs:/app/logs
    restart: unless-stopped
